* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
ul {
  list-style: none;
}
#root {
  max-width: 70vw;
  margin: auto;
  height: 100%;
}
.header,
.alert-error,
.card {
  padding: 1rem;
}
.header {
  background: #3f51b5;
  color: #ffffff;
}
.alert-error {
  color: red;
  background: #f8d7da;
}
.card {
  border-radius: 2px;
  font-size: 1.5vmin;
  line-height: 1.6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
tr > :first-child {
  font-weight: bold;
  vertical-align: top;
}
tr > :nth-child(2) {
  padding-left: 1rem;
}
@media (max-width: 768px) {
  #root {
    max-width: 100vw;
  }
  .card {
    font-size: 1.5vmax;
  }
}
